<header class="bg-white dark:bg-gray-800 shadow-md">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="text-2xl font-bold text-gray-800 dark:text-white">
        Santiago Z.
        </div>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">Home</a></li>
                <li><a href="/about" class="text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">About</a></li>
                <li><a href="/projects" class="text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">Projects</a></li>
            </ul>
        </nav>
        <div class="flex justify-center items-center space-x-4">
            <a href="/contact" class="text-gray-50 bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded">Contact Now</a>
            <select class="bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 p-2 rounded">
                <option value="es">ES</option>
                <option value="en">EN</option>
            </select>
            <button
                id="theme-toggle"
                type="button"
                (click)="toggleTheme()"
                [attr.aria-label]="isDark ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'"
                [ngClass]="{
                'flex items-center justify-start w-16 h-8 rounded-full p-1 transition-colors duration-300 focus:outline-none bg-white': true,
                'bg-white': !isDark,
                'bg-blue-500': isDark
                }"
                style="box-shadow: inset 6px 6px 8px #bebebe, inset -6px -6px 8px #ffffff;"
            >
            <!-- Circulo deslizante con icono -->
                <div
                class="flex items-center justify-center w-6 h-6 rounded-full transition-transform duration-300 bg-white"
                [ngClass]="{
                    'translate-x-0 bg-gray-300 shadow-[2px_2px_3px_#bebebe,-2px_-2px_3px_#ffffff]': !isDark,
                    'translate-x-8 bg-gray-700 shadow-[2px_2px_4px_#2a2a2a,-2px_-2px_4px_#4a4a4a]': isDark
                }"
                >
    
                <!-- Icono de sol/luna -->
                 @if(!isDark){
                    <span class="material-symbols-outlined text-yellow-500 switch">light_mode</span>
                 }
                 @if(isDark){
                    <span class="material-symbols-outlined text-blue-300 switch">dark_mode</span>
                 }
                </div>
            </button>
        </div>
    </div>
</header>