@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@layer utilities {
  .bg-grid-gradient {
    background-image:
      radial-gradient(circle at top, rgba(37, 99, 235, 0.25), transparent 60%),
      linear-gradient(to right, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
    background-size: auto, 40px 40px, 40px 40px;
  }

  .dark .bg-grid-gradient {
    background-image:
      radial-gradient(circle at top, rgba(37, 99, 235, 0.25), transparent 65%),
      linear-gradient(to right, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  }
  
  .bg-grid-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.04));
    pointer-events: none;
  }
}

